.env
node_modules/
.DS_Store
mvnw
mvnw.cmd
target/
.idea/
.vscode/
*.iml
*.log
logs/
*.class
*.jar
*.war
.maven/
.settings/
/maven-wrapper
/.mvn/wrapper/maven-wrapper.jar
/.mvn/wrapper/maven-wrapper.properties
mvnw.cmd